<form action="/frontEnd/temp" method="POST">{% csrf_token %}
  <input type="text" name="ipInput" id="ipInput" />
  <button name="buttonOne" id="buttonOne">buttonOne</button>
  <button name="buttonTwo" id="buttonTwo">ButtonTwo</button>
  <button name="buttonThree" id="buttonThree">ButtonThree</button>
  <button name="buttonFour" id="buttonFour">ButtonFour</button>
  <button name="buttonFive" id="buttonFive">buttonFive</button>
  <button name="buttonSix" id="buttonSix">ButtonSix</button>
  <button name="buttonSeven" id="buttonSeven">ButtonSeven</button>
  <button name="buttonEight" id="buttonEight">ButtonEight</button>
</form>
{% block content %}
<h1>{{buttonPressed}}</h1>
<h1>{{ipNumber}}</h1>
{% endblock %}